@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	*{
		font-family: 'Lato', sans-serif;
	}
	h1, h2, h3, h4, h5, h6{
		font-family: 'Righteous', cursive;

		& > span{
			font-family: 'Righteous', cursive;
		}
	}

	::selection{
		@apply bg-primary text-base-100;
	}

	*{
		scrollbar-width: auto;
		scrollbar-color: #52fa7c #272935;
	}
	*::-webkit-scrollbar {
		width: 8px;
	}
	*::-webkit-scrollbar-track {
		background: #272935;
	}
	*::-webkit-scrollbar-thumb {
		background-color: #52fa7c;
		border-radius: 10px;
	}
}

@layer components {
}

.router-view-enter-active, .router-view-leave-active {
	transition: all 0.25s;
}

.router-view-enter-from, .router-view-leave-to {
	opacity: 0;
	transform: scale(0.99, 0.99);
}